# .github/workflows/translate.yml
name: Translate Readme

on:
    push:
        branches: ['**']

jobs:
    translate:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                fetch-depth: 3

            - name: Auto Translate
              uses: Lin-jun-xiang/action-translate-readme@v2 # Based on the tag
              with:
                token: ${{ secrets.Action_Bot }} # Based on step2 name
                zhipuai: ${{ secrets.zhipuai_api_key }} # Optional: Based on step3
                langs: "en,zh-TW,zh-CN,French" # You can define any langs
